{extend name="layout" /}
{block name="title"}个性定制 第五步 共五步{/block}
{block name="css"}
{/block}
{block name="body"}
<!-- pc端定制step5开始 -->
<div class="customized-step1-box">
    <div class="customized-content">
        <div class="closexxxx"><img src="__HOME_IMG__/close-xxx.svg"></div>
        <div class="left-and-right">
            <div class="left-step active5">
                <ul class="step-list">
                    <li>选择定制工艺和颜色<br>输入车辆信息</li>
                    <li>注册/登录<br>阅读流程</li>
                    <li>确认定制数量、金额<br>确认定制细节</li>
                    <li>支付全款<br>设计师对接开始定制</li>
                    <li>在订单中心跟踪订单</li>
                </ul>
                <div class="step-unmber-box"></div>
                <p class="statement-box"><span>*</span>使用定制服务即表示：<br>
                    您已阅读并认可<a href="javascript:;">《戴特® TANA 免责声明》</a></p>
            </div>

            <div class="right-sweiper-box order-success">
                <div class="left-payment">
                    <h1><span>下单成功</span> <em></em></h1>
                </div>
                <p class="success-text">请您保持您的手机畅通，我们会尽快安排设计师与您进行对接。<br>接下来您可以在订单中心中找到本定制订单，然后跟踪订单状态。</p>
                <div class="go-back-btn-box">
                    <a href="javascript:;">返回首页</a>
                    <a href="javascript:;">去潮流画廊看看别人的靓车</a>
                </div>
            </div>
        </div>

        <!-- 表面工艺及颜色 开始 -->
        <div class="biaom-gongyi-box">
            <div class="product-detail pc-product-detail" style="float: right;">
                <img class="detail-img" src="__HOME_IMG__/detail-img.svg">
                <div class="detail-jianjie goumai-detail">
                    <p><em>表面状态：</em><span>哑光黑</span></p>
                    <p><em>基础总价：</em><span>¥28800(设计费¥5000+四只轮毂¥23800)</span></p>
                    <p><em>购买数量：</em><span>一套</span></p>
                </div>
            </div>
        </div>
        <!-- 表面工艺及颜色 结束 -->
    </div>
    <div class="customized-step-footer">
        <span><img src="__HOME_IMG__/warning-icon.svg">
            特别说明：基础总价中含5000元设计费（在支付后生产前如若退单，在基础总价上扣除设计费后原路退换）
        </span>
    </div>
</div>
<!-- pc端定制step5结束 -->

<!-- 移动端定制step5开始 -->
<div class="yid-step5-box">
    <div class="yi-step01"><img src="__HOME_IMG__/yid-step5.svg"></div>

    <div class="checkout-success">
        <h3>下单成功！</h3>
        <p>请您保持您的手机畅通，我们会尽快安排设计师与您进行对接。</p>
        <p>接下来您可以在订单中心中找到本定制订单，然后跟踪订单状态。</p>
    </div>

    <div class="product-detail">
        <img src="__HOME_IMG__/detail-img.svg">
        <p><em>表面状态：</em><span>哑光黑</span></p>
        <p><em>基础总价：</em><span>¥28800<br>(设计费¥5000+四只轮毂¥23800)</span></p>
        <p><em>购买数量：</em><span>1 套</span></p>
        <p><em>合计价格：</em><span>23800 x 1 + 5000 = 28800</span>元</p>
        <p><em>收货人：</em><span>冯唐&nbsp;&nbsp;&nbsp;13690301958</span>元</p>
        <p><em>配送地址：</em><span class="distribution-address">北京市朝阳区北三环中路1号 A座1606 室</span></p>
    </div>

    <div class="go-back-index">
        <a href="javascript:;" class="back-index-btn">返回首页</a>
        <a href="javascript:;" class="other-btn">去潮流画廊看看别人的靓车</a>
    </div>

    <div class="yid-customized-footer step-footer">
        <img src="__HOME_IMG__/warning-icon.svg">
        <span>特别说明：基础总价中含5000元设计费（在支付后生产前
如若退单，在基础总价上扣除设计费后原路退换）</span>
    </div>
</div>
<!-- 移动端定制step5结束 -->
{/block}
{block name="js"}
<script src="__HOME_JS__/step-all.js"></script>
<script type="text/javascript">

</script>
{/block}