body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
    font-family: inherit;
    font-weight: inherit;
    font-size: 100%;
    font-style: normal;
    font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    vertical-align: baseline; }
body{
    background: #fff;
    font-size: .28rem;
}
.gzh-bg-hei{
    background: #484d50;
}
.banner img{
    height: 2.98rem;
}
.sign-content-box{
    padding-top: .6rem;
    width: 5.6rem;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.chepai-input{
    width: 100%;
    height: .94rem;
    border-radius: .5rem;
    background: #f5f5f5;
    border: 1px solid #d5d5d5;
    line-height: .94rem;
    padding-left: .3rem;
    margin-top: .6rem;
}
.chepai-input img{
    width: .7rem;
    vertical-align: -.15rem;
}
.agreement-text{
    line-height: 1.2rem;
}
.agreement-text input{
    width: .34rem;
    height: .34rem;
    vertical-align: -.06rem;
    margin-right: .1rem;
}
.bangding-btn{
    cursor: pointer;
    width: 100%;
    height: .94rem;
    line-height: .94rem;
    text-align: center;
    color: #fff;
    font-size: .3rem;
    background: #fc3230;
    border-radius: .5rem;
    display: block;
    margin-top: 1.1rem;
}
.sign-footer img{
    width: 100%;
}
.banner-bg{
    background: url("../images/chongzhi-bg.png") no-repeat;
    height: 3.93rem;
    background-size: 100% 3.93rem;
}
.banner-bg h2{
    padding: .4rem;
    text-align: center;
    color: #fff;
    line-height: .4rem;
    font-size: .3rem;
}
.banner-bg h2 img{
    float: left;
    width: .25rem;
}
.gzh-bg{
    background: #f8f8f8;
}
.my-account{
    display: flex;
    -webkit-display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-top: 1.25rem;
    padding: 0 .4rem;
}
.account-items{
    position: relative;
    flex: 1;
    text-align: center;
    -webkit-flex: 1;
}
.account-items:nth-child(2){
    margin-top: .4rem;
}
.account-items img{
    width: .34rem;
}
.account-items p{
    font-size: .28rem;
    line-height: .3rem;
    color: #999999;
    font-size: .24rem;
}
.account-items p.my-price{
    font-size: .3rem;
    color: #333;
    line-height: .5rem;
    margin-top: .1rem;
}
.xianshika{
    font-size: .28rem;
    color: red;
}
.iocn-wenhao{
    position: absolute;
    top: 0;
    right: .3rem;
}
.iocn-wenhao img{
    width: .3rem;
}
.hongbao  p.my-price{
    color: #ff4a4a;
}
.chongzhi{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    top: 1.2rem;
    left: 50%;
    margin-left: -.8rem;
}
.tipsbg{
    display: none;
    position: absolute;
    top: -.76rem;
    right: -.9rem;
    background:url("../images/img-tips.png") no-repeat;
    width: 2.67rem;
    height: .7rem;
    line-height: .54rem;
    background-size: 2.67rem .7rem;
    color: #fff;
    font-size: .24rem;
}
.tipsbg em{
    font-style: normal;
    color: red;
    margin-right: .05rem;
}
.lingqu-xianshika{
    padding-left: .3rem;
    width: 6.8rem;
    height: 1.2rem;
    line-height: 1.2rem;
    background: #fff;
    margin: .4rem auto 0;
    font-size: .28rem;
    -webkit-box-shadow:0 0 5px #eee; 
    box-shadow:0 0 5px #eee;
}
.lingqu-xianshika img{
    width: .4rem;
    vertical-align: middle;
}
.lingqu-xianshika .lingqu-btn img{
    width: 1.93rem;
    height: .66rem;
    float: right;
    margin-top: .26rem;
}
.ka-name{
    width: 2.3rem;
    display: inline-block;
    padding-left: .1rem;
}
.zhang-namber{
    color: #ff2e2e;
    font-size: .3rem;
}
.details-amount{
    background: #fff;
    margin-top: .4rem;
}
.details-amount li{
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding: .2rem .4rem;
    font-size: .28rem;
    color: #999;
    border-bottom: 1px solid #eee;
}
.hongbaolingqu h2{
    font-size: .3rem;
    color: #000;
    line-height: .6rem;
}
.red-price{
    color: #FF4A4A;
}
.heise-price{
    color: #333;
}
.maskbox{
    display: none;
    position: fixed;
    background: #000;
    opacity: .5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.recharge-box{
    display: none;
    position: fixed;
    z-index: 11;
    width: 6.15rem;
    height: 5rem;
    background: #fff;
    border-radius: .1rem;
    left: 50%;
    margin-left: -3.07rem;
    top: 50%;
    margin-top: -2.5rem;
    border-radius: .1rem;
}
.recharge-box h3{
    text-align: center;
    font-size: .3rem;
    color: #333;
    background: #eee;
    line-height: .9rem;
    border-radius: .1rem .1rem 0 0;
}
.chongzhi-jiner{
    padding: .4rem;
}
.chongzhi-jiner p{
    line-height: .8rem;
}
.chongzhi-jiner input{
    border: 1px solid #c7c7c7;
    background: #f8f8f8;
    border-radius: 3px;
    line-height: .9rem;
    width: 100%;
    padding-left: .2rem;
}
.determination-recharge{
    width: 2.6rem;
    height: .8rem;
    line-height: .8rem;
    background: #fc3230;
    color: #fff;
    text-align: center;
    border-radius: .5rem;
    margin: .2rem auto;
    font-size: .3rem;
    display: block;
}
.sweiper-banner img{
    width: 100%;
}  
.gratia-goods{
    padding: .2rem .2rem 0 .2rem;
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: .2rem;
}
.gratia-goods img{
    width: 2.5rem;
}
.xiche-title{
    line-height: .5rem;
}
.xiche-title h3{
    font-size: .3rem;
    font-weight: bold;
}
.redprice{
    color: #f3190d;
    font-weight: bold;
}
.xiche-shijian{
    color: #999;
}
.immediate-purchase{
    width: 1.5rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    color: #fff;
    font-size: .24rem;
    background: -webkit-linear-gradient(-90deg, #f3160d, #f3460c); /* Safari 5.1 - 6.0 */
    background: linear-gradient(-90deg, #f3160d, #f3460c); 
    border-radius: .5rem;
}
.gratia-goods-title{
    margin-top: .1rem;
    line-height: .6rem;
    height: .5rem;
}
.gratia-goods-title img{
    width: .3rem;
    margin: 0 .15rem 0 .2rem;
    vertical-align: middle;
}
.service-items-box h3{
    line-height: .8rem;
    padding: 0 .2rem;
}
.service-items-box h3 img{
    width: .3rem;
    vertical-align: middle;
    margin-right: .1rem;
}
.service-items-box h3 span{
    float: right;
}
.navlist{
    display: flex;
    -webkit-display: flex;
    background: #f0f0f0;
    height: .7rem;
    line-height: .7rem;
}
.navlist a{
    position: relative;
    flex: 1;
    -webkit-flex: 1;
    color: #666;
    text-align: center;
}
.service-list{
    padding:0 .2rem .2rem .2rem;
}
.service-list li{
    border-bottom: 1px solid #eee;
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding-bottom: .2rem;
    padding-top: .2rem;
}
.service-list li:nth-child(1){
    padding-top: 0;
}
.service-list li img{
    width: 2.5rem;
}
.service-title a{
    color: #22b5eb;
    padding-left: .3rem;
}
.yuanjia{
    text-decoration: line-through;
}
.redprice span{
    padding-right: .2rem;
    color: #999;
    font-weight: 400;
}
.bigimg{
    display: none;
}
.bigimg img{
    width: 100%;
    position: absolute;
    z-index: 12;
    top: 50%;
    margin-top: -1rem;
}
.swiper-slide img{
    width: 100%;
}
.swiper-pagination{
    bottom: .15rem;
    text-align: center;
    width: 100%;
}
.indexbanner{
    position: relative;
}
.swiper-pagination-bullet{
    width: .12rem !important;
    height: .12rem !important;
    margin: 0 .05rem !important;
    background: #fff !important;
}
.swiper-pagination-bullet-active{
    background: #fff !important;
}

/*横向滚动*/
.slide-box {
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
} 
/* 隐藏下方的滚动条 */
.slide-box::-webkit-scrollbar {
    background-color: transparent;
} 
.slide-box {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    line-height: 30px;
    overflow-y: hidden;
} 
.slide-item {
    position: relative;
    padding: 0 .3rem;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.slide-item.active{
    color: #f3200d;
}
.slide-item.active:before{
    content: "";
    position: absolute;
    height: 2px;
    background: #f3200d;
    width: 50%;
    bottom: 0;
    left: 50%;
    margin-left: -25%;
}
.close-but img{    
    float: right;
    width: .3rem;
    margin: .3rem;
}
.paymentbox{
    font-size: .3rem;
    padding: .4rem .4rem 0 .4rem;
    border-bottom: 1px solid #eee;
}
.payment-items input{
    width: .34rem;
    height: .34rem;
    vertical-align: middle;
}
.payment-items img{
    width: .4rem;
    margin: 0 .1rem;
    vertical-align: -.1rem;
}
.payment-items{
    margin-bottom: .4rem;
}
.payment-box .xiche-title{
    flex: 1;
    -webkit-flex: 1;
    padding-left: .3rem;
}
.payment-box .gratia-goods{
    background: #fff;
}
.payment-box .paymentbox{
    background: #fff;
}
.red-envelope-box{
    margin-top: .3rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: .4rem 0 0 .4rem;
    display: flex;
    -webkit-display: flex;
}
.red-envelope{
    flex: 1;
    -webkit-flex: 1;
}
.red-envelope-dikou{
    width:1.4rem;
}
.red-envelope-items{
    float: left;
    margin-right: .4rem;
    margin-bottom: .4rem;
    color: #e07974;
}
.red-envelope-items input{
    width: .34rem;
    height: .34rem;
    vertical-align: middle;
}
.red-envelope-items img{
    width: .3rem;
    margin: 0 .06rem;
    vertical-align: -.06rem;
}
.hongbaobg{
    border: 1px solid #dec5c4;
    background: #fdf6f0;
    padding: 2px .1rem;
    border-radius: 3px;
}
.footer-bottom{
    padding:0 .3rem;
    position: fixed;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    border-top: 1px solid #eee;
    left: 0;
    bottom: 0;
    z-index: 10;
}
.order-amount{
    float: left;
}
.order-amount span{
    font-size: .4rem;
    font-weight: bold;
    color: #e21a1c;
}
.save-amount{
    float: left;
    padding-left: .2rem;
    color: #999999;
    font-size: .24rem;
}
.settlement-btn{
    display: block;
    float: right;
    margin-top: .25rem;
    width: 1.6rem;
}
.cicheka-list h3{
    background: url("../images/title-bg.png") no-repeat;
    width: 3.27rem;
    height: 1.05rem;
    line-height: 1.5rem;
    background-size: 3.27rem 1.05rem;
    margin: 0 auto;
    padding-left: 1rem;
    color: #333;
    font-weight: bold;
    font-size: .3rem;
}
.ka-list li{
    background: url("../images/xicheka-bg.png") no-repeat;
    width: 6.69rem;
    height: 1.9rem;
    background-size: 6.69rem 1.96rem;
    margin: 0 auto;
    margin-top: .2rem;
}
.left-text{
    padding:.45rem 0;
    float: left;
    text-align: center;
    width: 4.2rem;
}
.left-text p{
    line-height: .5rem;
}
.left-text p span{
    font-size: .36rem;
    color: #f3180d;
    font-weight: bold;
}
.term-validity{
    font-size: .24rem;
    color: #999;
}
.liji-goumai{
    float: right;
    color: #fff;
    padding-left: .35rem;
    width: 1rem;
    font-size: .36rem;
    line-height: 1.96rem;
    width: 2.4rem;
}
.navlist{
    height: .8rem;
    line-height: .8rem;
    background: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    -webkit-display: flex;
}
.navlist a{
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
}
.navlist a.active{
    color: #f93b39;
}
.navlist a.active:before{
    position: absolute;
    content: "";
    bottom: 0;
    height: 2px;
    background: #f93b39;
    width:40%;
    left: 50%;
    margin-left: -20%;
}
.no-used-card li{
    width: 6.7rem;
    height: 1.96rem;
    background: url("../images/fuwu-bg.png") no-repeat;
    background-size: 6.7rem 1.96rem;
    margin: .2rem auto 0;
}
.no-used-card li.xicheka-bg{
    background: url("../images/xichekai-bg.png") no-repeat;
    background-size: 6.7rem 1.96rem;    
}
.no-used-card li.xianshika-bg{
    background: url("../images/xianshika-bg.png") no-repeat;
    background-size: 6.7rem 1.96rem;    
}
.xicheka-left-txt{
    float: left;
    padding-top: .4rem;
    width: 4.4rem;
    line-height: .6rem;
    text-align: center;
}
.xicheka-right-btn{
    float: right;
    line-height: 1.9rem;
    font-size: .32rem;
    color: #fff;
    width: 2.2rem;
    padding-left: .3rem;
    display: block;
    text-align: left;
}
.shengyu-cishu{
    color: #a6791d;
}
.shengyu-cishu span{
    font-size: .36rem;
}
.xicheka-term{
    font-size: .24rem;
    color: #999;
}
.fuwu-bg .xicheka-left-txt{
    padding-top: .2rem;
}
.fuwu-bg .xicheka-left-txt p{
    line-height: .5rem;
}
.xiche-name{
    font-size: .28rem;
    color: #333;
}
.xiche-price{
    font-size: .4rem;
    color: #f24136;
}
.xiche-time{
    font-size: .24rem;
    color: #999;
}
.already-used .xicheka-left-txt p{
    line-height: .5rem;
    color: #333;
    font-size: .28rem;
    text-align: left;
    padding-left: 1.4rem;
}
.already-used .xicheka-left-txt{
    padding-top: .18rem;
}
.already-used .xicheka-left-txt p:nth-child(1){
    color: #333;
    font-size: .3rem;
}
.already-used .xicheka-left-txt p:nth-child(2){
    color: #999;
}
.already-used .xicheka-left-txt p:nth-child(3){
    color: #666;
}

.expired-card li{
    width: 6.7rem;
    height: 1.96rem;
}
.expired-card li.xicheka-bg{
    background: url("../images/xicheka-guoqi.png") no-repeat;
    background-size: 6.7rem 1.96rem;
}
.expired-card li.xianshika-bg{
    background: url("../images/xianshika-guoqi.png") no-repeat;
    background-size: 6.7rem 1.96rem;
}
.expired-card li.fuwu-bg{
    background: url("../images/fuwuka-guoqi.png") no-repeat;
    background-size: 6.7rem 1.96rem;
}
.expired-card .shengyu-cishu,
.expired-card .xicheka-right-btn,
.expired-card .fuwu-bg .xicheka-left-txt p{
    color: #999;
}
.cardlistbox ul{
    display: none;
}
.cardlistbox ul:nth-child(1){
    display: block;
}

.qr-code-box{
    background: url("../images/erweima-bg.jpg") no-repeat;
    width: 6.57rem;
    height: 8.5rem;
    background-size: 6.57rem 8.5rem;
    margin: 1.6rem auto;
}
.top-fuwu{
    padding: .4rem;
}
.qr-code-box .gratia-goods{
    position: relative;
    border-bottom: none;
    padding: .4rem;
}
.qr-code-box .xiche-title{
    flex: 1;
    padding-left: .3rem;
    -webkit-flex: 1;
}
.code-img{
    width: 3.9rem;
    height: 3.9rem;
    margin: 1.4rem auto;
}
.code-img img{
    width: 3.9rem;
    height: 3.9rem;
}
.close-xxx{
    display: none;
    position: absolute;
    z-index: 10;
    right: .4rem;
    top: .3rem;
}
.close-xxx img{
    width: .26rem;
    height: .26rem;
}
.yuyue-box{
    padding: 1rem .4rem;
    line-height: 1rem;
    font-size: .28rem;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.yuyue-box p span{
    color: #f31b0e;
}
.yuyue-box p img{
    vertical-align: middle;
    width: .3rem;
    margin-right: .1rem;
}
.yuyue-shijian{
    position: relative;
}
.yuyue-shijian input{
    width: 5.2rem;
    height: .9rem;
    line-height: .9rem;
    background: #eee;
    padding-left: .2rem;
    border-radius: .1rem;
}
.yuyue-shijian img.rili-icon{
    position: absolute;
    right: .25rem;
    top: .2rem;
    width: .66rem;
}
.appointment-btn{
    width: 3rem;
    margin: .25rem auto;
    display: block;
}
.dashang-bg img{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.dashang-content{
    position: fixed;
    z-index: 10;
    top: 1rem;
    width: 100%;
}
.sweiper-text{
    height: 1rem;
    overflow: hidden;
}
.sweiper-text a{
    display: block;
    text-align: center;
    width: 100%;
    color: #ff8882;
    font-size: .3rem;
    line-height: 1rem;
}
.dashang-border{
    background: rgba(255,255,255,.3);
    -webkit-background: rgba(255,255,255,.3);
    display: flex;
    -webkit-display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    border-radius: 1rem;
}
.dashang-list li{
    width: 5.2rem;
    height: 1.4rem;
    line-height: 1.4rem;
    border:1px solid #fff;
    border-radius:1rem;
    margin: .8rem auto;
}
.dashang-list li img.dashang1{
    width: 2rem;
    position: absolute;
    left: .9rem;
    top: 1.3rem;
}
.das-jiner{
    flex: 1;
    text-align: right;
    color: #333333;
    font-size: .48rem;
    -webkit-flex: 1;
    padding-right: .8rem;
}
.dashang-btn{
    width: 1.4rem;
    height: .6rem;
    line-height: .6rem;
    color: #fff;
    margin-right: .4rem;
}
.dashang-list li:nth-child(2) img.dashang1{
    top: 3.6rem;
}
.dashang-list li:nth-child(3) img.dashang1{
    top: 5.8rem;
}
.go-back-btn{
    background: rgba(255,255,255,.3);
    -webkit-background: rgba(255,255,255,.3);
    border: 1px solid #fff;
    border-radius: 1rem;
    width: 3rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #333;
    font-size: .3rem;
    display: block;
    margin: 1.6rem auto;
}

.red-envelopes-box{
    background: #ffbd3e;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}
.red-envelopes-box img{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.red-envelopes-jiner{
    position: fixed;
    z-index: 2;
    font-size: 1.3rem;
    color: #f93234;
    font-weight: bold;
    text-align: center;
    width: 100%;
    top: 4.2rem;
}
.red-envelopes-jiner span{
    font-size: .7rem;
}
.count-down{
    position: fixed;
    top: 7.1rem;
    width: 100%;
    color: #fff;
    text-align: center;
    color: #fff;
    font-size: .3rem;
    z-index: 3;
}
.red-envelopes-box a{
    position: fixed;
    display: block;
    width: 5rem;
    height: 1rem;
    z-index: 4;
    top: 7.8rem;
    left: 1rem;
}
.red-envelopes-box a.lingqu-btn{
    top: 9.36rem;
}
.success-bg{
    display: none;
    position: fixed;
    background: url("../images/success-bg.png") no-repeat;
    width: 4.3rem;
    height: 5.13rem;
    background-size: 4.3rem 5.13rem;
    top: 50%;
    margin-top: -4rem;
    left: 50%;
    margin-left: -2.15rem;
    z-index: 11;
    padding-top: 2.2rem;
}
.success-bg p{
    text-align: center;
    color: #ffea3a;
    font-size: .3rem;
}
.success-bg p.success-price{
    font-size:.72rem;
    font-weight: bold;
    line-height: 1.2rem;
}
.success-bg p.success-price span{
    font-size: .4rem;
}
.liji-lingqu-btn{
    width: 2.5rem;
    height: .8rem;
    line-height: .8rem;
    background: #ffea3a;
    display: block;
    margin: 0 auto;
    color: #f93b39;
    text-align: center;
    font-size: .3rem;
    font-weight: bold;
}
.fail-bg{
    display: none;
    position: fixed;
    background: url("../images/fail-bg.png") no-repeat;
    width: 4.25rem;
    height: 3.89rem;
    background-size: 4.25rem 3.89rem;
    z-index: 13;
    top: 50%;
    margin-top: -2rem;
    left: 50%;
    margin-left: -2.12rem;
}
.fail-text{
    font-size: .3rem;
    line-height: .5rem;
    margin-top: 2.2rem;
    color: #FFEA3A;
    text-align: center;
}
.fail-close-btn{    
    position: absolute;
    top: .6rem;
    right: .25rem;
}
.fail-close-btn img{
    width: .34rem;
}
.evaluate-box{
    padding: .4rem;
}
.evaluate-title{
    color: #333;
    font-size: .3rem;
    line-height: .6rem;
}
.evaluate-box textarea{
    width: 100%;
    height: 4rem;
    border: 1px solid #eee;
    background: #fff;
    border-radius: .1rem;
    padding-left: .2rem;
    padding-top: .2rem;
}
.evaluate-img{
    margin-top: .4rem;
    overflow: hidden;
}
.evaluate-img img{
    width: 2.1rem;
    float: left;
    margin-right: .2rem;
}
.evaluate-img img:last-child{
    margin-right: 0;
}
.score-box{
    margin-top: .4rem;
    line-height: .4rem;
    overflow: hidden;
}
.score-box p{
    float: left;
}
.score-xingx span{
    background: url("../images/huise-xingx.png") no-repeat;
    width: .4rem;
    height: .4rem;
    background-size: .4rem .4rem;
    margin-right:.25rem; 
    display: block;
    float: left;
}
.score-xingx span.active{
    background: url("../images/red-xingx.png") no-repeat;
    width: .4rem;
    height: .4rem;
    background-size: .4rem .4rem;
}
.continue-reward{
    display: block;
    clear: both;
    overflow: hidden;
    line-height: .9rem;
    height: .9rem;
    width: 4.5rem;
    margin: 1.8rem auto;
    font-size: .3rem;
}
.evaluate-list li{
    padding-top: .4rem;
    display: flex;
    -webkit-display: flex;
    border-bottom: 1px solid #eee;
    padding-bottom: .2rem;
}
.evaluate-list{
    padding:0 .3rem .3rem .3rem;
}
.evaluate-list .headbox{
    width: .62rem;
    height: .62rem;
}
.evaluate-list .headbox img{
    width: .62rem;
    height: .62rem;
    border-radius: 100%;
}
.evaluate-right-text{
    padding-left: .3rem;
    flex: 1;
    -webkit-flex: 1;
}
.evaluate-right-text h2{
    font-size: .3rem;
    color: #333;
    line-height: .6rem;
}
.evaluate-contenter{
    line-height: .4rem;
    font-size: .28rem;
    color: #666;
}
.evaluate-right-text .evaluate-img img{
    width: 1.8rem;
}
.evaluate-right-text .score-xingx span{
    width: .35rem;
    height: .35rem;
    background-size: .35rem .35rem;
    margin-right: .2rem;
}
.evaluate-time{
    float: right;
    color: #999;
    font-size: .24rem;
}
.evaluate-right-text .score-box p{
    font-size: .24rem;
}