{extend name="layout" /}
{block name="title"}联系我们{/block}
{block name='body_css'}contactus-box{/block}
{block name="body"}

<div class="w1200">
    <div class="contactus pc-contactus">
    	<img src="__HOME_IMG__/shangwuigm.png">
    	<img class="lianxiwomen" src="__HOME_IMG__/lianxiwomen.svg">
        <a class="contactus-emial kefu-emial" href="mailto:service@tana-wheels.com"></a>
        <!-- <a class="contactus-emial" href="mailto:service@tana-wheels.com" class="emailbox00"></a> -->
    </div>
    <div class="yd-contactus">
    	<img src="__HOME_IMG__/yd-lianxwm.png">
    	<img class="lianxiwomen" src="__HOME_IMG__/yd-email.svg">
        <a class="contactus-emial kefu-emial" href="mailto:service@tana-wheels.com"></a>
        <!-- <a class="contactus-emial" href="mailto:service@tana-wheels.com" class="emailbox00"></a> -->
    </div>
</div>
{/block}